# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Build and packaging
build/
dist/
*.egg-info/

# Based Pyright
.pyright/

# Ruff
.ruff_cache/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

node_modules/
npm-debug.log*
